@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;700&display=swap');
  
  body{
    font-family: 'Quicksand', sans-serif;;
    font-size: 100%;
  }

  .timer-container{
    background-position: center;
    background-size: cover;
  }

  .timer{
    display: flex;
    flex: column;
    align-items: center;
    justify-content: center;
  }

  .timer div:first-child{
    text-align: center;
  }

 h2{
    font-weight: 600;
    margin-bottom: 0.5em;
  }

  .timer div:first-child p{
    color: #f8f8f8;
  }
  
  span{
    color: #f8f8f8;
  }

  .timer div:last-child{
    /* border: 1px solid #fff; */
    /* border-radius: 2px; */
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    margin-top: 1em;
    padding: 1em;
    text-align: center;
  }

  section p:first-child, .timer div:last-child span{
    font-size: 2em;
  }

  @media screen and (max-width: 480px){
    .timer div:last-child{
      margin-left: 2em;
      margin-right: 2em;
      padding: 3em 1em;
    }
  }
