f.features {
  display: flex;
  align-items: center;
  padding: 10rem 0;
  width: 100%;
}

.bulletin_features {
  display: flex;
  align-items: center;
}

.featureSvg {
  height: 200px;
  width: 200px;
}

.featureUsageSvg{
  height: 150px;
  width: 150px;
  margin-bottom: 40px;
}

.bulletin_item {
  display: flex;
  align-items: center;
  background-color: #f9f9f9;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  margin-bottom: 10px;
  font-size: 30px
}

.bulletin_date {
  font-weight: bold;
  margin-right: 10px;
}

.bulletin_text a {
  color: #0066cc;
  text-decoration: none;
}

.bulletin_text a:hover {
  text-decoration: underline;
}